UpbitPeriodSeconds=4
BithumbPeriodSeconds=5
BybitPeriodSeconds=3
CurrencyPeriodSeconds=600
MessagePeriodSeconds=10
AlarmChatID=
AlarmToken=
RuleAlarmUse=false
RuleAlarmMax=
RuleAlarmMin=
CurrencyAPIKey=
