.list-template {
  background: white;
  min-width: 320px;
  max-width: 640px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin: 0 auto;
  margin-top: 4rem;
}

.list-wrapper {
  min-height: 5rem;
}